<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BusPatrol Example App</title>
  <meta name="description" content="Example code for Buspatrol.">
  <meta name="author" content="Aron Beal <aron.beal.biz@gmail.com">

  <meta property="og:title" content="BusPatrol example app">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Example code for Buspatrol.">
</head>

<body>
    <h1>Developer challenge example app.</h1>
    <ul>
        <li><a href="/debug">Debug app environment (INSECURE))</a></li>
        <li><a href="/points">List all points</a></li>
    </ul>
</body>
</html>
